extends ../layout

block title
	title ЗВЕЗДОЧЕТ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content
	a.back_link(href='/logout') Выход
	.title Я ЗВЕЗДОЧЕТ
	.title Я воскрешаю деревья