extends ../layout

block title
	title ЗВЕЗДОЧЕТ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content
	a.back_link(href='/logout') Выход
	.title.star ЗВЕЗДОЧЕТ
	.main_menu_block
		br
		b Стили:
		a(href='/auth/eras')= ' редактировать'
		br
		br
		b Объекты:
		a(href='/auth/objects')= ' редактировать'
		br
		br
		b Заглузчик:
		a(href='/tiles_upload')= ' картинки'