extends ../layout

block title
	title Конкурс на проект Дворца Советов (1931–1933)

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/demo.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/project.css' + version)

block content
	.main_image
		img(src='/images/design/special/01.jpg')
	h1 Конкурс на проект Дворца Советов (1931–1933)


	iframe(src='zholtovskiystatic', width='1280', height='600', frameborder='0')
	.content_inner
		.content_inner_block
			p
				b Дворец Советов. Проект Ивана Жолтовского. Первая премия Всесоюзного конкурса 1931 года
			p Конкурс на здание Дворца Советов в Москве – ключевое событие в истории отечественной культуры. Проектирование Дворца продлилось несколько десятилетий, здание так и не было построено, но история конкурсных предложений, их демонстрация и обсуждение оказали решающее влияние на формирование и развитие всей советской архитектуры.
			p История конкурса начинается в 1922 году, с решения строить в Москве Дом СССР. Два года спустя Ассоциация новых архитекторов – АСНОВА, выступает с идеей строительства Дворца Советов. Проведенный предварительный этап конкурса собрал 16 новаторских авангардистских предложений, но все они были раскритикованы в прессе. Так, идеи архитектурного авангарда оказались в СССР дискредитированными.
			p На Всесоюзный открытый конкурс, условия которого были опубликованы в газете «Известия» в  1931 году, было подано 272 проекта. Среди авторов конкурсных предложений были архитекторы различных школ: это братья Веснины, Николай Ладовский, Алексей Щусев, Иван Жолтовский, Алексей Душкин, Владимир Щуко и Владимир Гельфрейх…
			p В начале 1932 года жюри конкурса присуждает три первых премии проектам Бориса Иофана, Ивана Жолтовского и проекту американского архитектора Гектора Гамильтона.
			p Ко времени объявления конкурса на «Главное здание страны» академик архитектуры Жолтовский уже состоялся как талантливый мастер неоренессанса и неоклассицизма. Его проект Дворца Советов представлял собой монументальный ансамбль, отсылающий к постройкам республиканского Рима. Входная зона ансамбля оформлена рядами колонн и фланкирована высокой, квадратной в плане, ярусной башней со скульптурной группой на вершине. За ней – парадная площадь-двор в форме трапеции, обрамленная колоннадой и не имеющая выходов на улицу и набережную. Центр композиции занимает круглый Большой зал, решенный  в виде амфитеатра наподобие римского Колизея. За ним, через внутренний двор, выходящий аркадами на улицу Волхонку и набережную Москвы-реки, располагается Малый зал, имеющий форму полукруга как в греческом театре. Проект Жолтовского представляет собой новый городской ансамбль, вписанный в окружающую застройку. Объем Малого зала, обрамленный массивом крепостной стены с узкими окнами-бойницами, и башня входной зоны отсылали к постройкам Московского Кремля.
			p Дворец Советов Жолтовского наиболее последовательно развивал линию архитектурного историзма. Комплекс «Главного здания» строится на классическом приеме – соотнесении большого цилиндрического объема, площади и вертикали башни. Прямая адаптация ордерной системы, предложенная архитектором, была раскритикована за «мертвое подражание классике», отсутствие творческой переработки «наследия прошлых эпох».
			p Однако стремление к регулярности и симметрии, попытка иерархического соподчинения объемов и идея масштабного и величественного ансамбля оказались созвучны требованиям «новой официальной архитектуры», благодаря чему проект получил одну из высших премий.


	iframe(src='iofanstatic', width='1280', height='600', frameborder='0')
	.content_inner
		.content_inner_block
			p
				b Дворец Советов. Проект Бориса Иофана. Первая премия Всесоюзного конкурса 1931 года

			p Проект «главного здания страны» Бориса Иофана удивительным образом повторяет принципы проекта Жолтовского: он также строится на сочетании круглого большого зала, полукруглого малого и высокой башни. Стиль Бориса Иофана – архитектора, учившегося в Одессе, Петербурге, Париже и Риме,  – складывался в неоклассическом русле. В Советский Союз Иофан был приглашен из Италии Председателем Совмина СССР Рыковым в 1924 году, и уже в конце 1920-х он строит два здания с использованием конструктивистских принципов и деталей: это жилой комплекс «Дом на набережной» и правительственный санаторий в Барвихе.
			p При академическом образовании и работе с классической традицией Иофану удается придавать своим проектам импульс новой выразительности и некоторую свободу формотворчества архитектурного авангарда.
			p Ансамбль Дворца Советов в проекте Иофана не замкнут в плане: это открытая композиция с прямоугольной площадью в центре. Окруженная трибунами площадь предназначалась для парадов и массовых действий. Со стороны Волхонки ансамбль открывался полукругом малого зала, далее площадь выходит на башню-колонну, через нижнюю часть которой можно было попасть в большой круглый зал. Объемы главных залов соединялись между собой посредством портиков, в которых располагались вспомогательные помещения. Главная ось комплекса была параллельна набережной Москвы-реки, вдоль которой разные по форме и силуэту объемы создавали асимметричный фасад.
			p Башня-библиотека несла на себе основную смысловую нагрузку всего ансамбля: увенчанная скульптурой рабочего с факелом в руке она становилась аллегорией освобожденного труда в советской стране. Архитектор удачно решает пространство под центральной частью комплекса, которое создавалось разницей уровней площади и набережной, для устройства в нем большого гаража.
			p Генеральный план проекта предлагал переустройство окружающей территории Дворца Советов, путем организации широких магистралей и площадей. В качестве ведущей оси была запроектирована Аллея Ильича, которая шла от Свердловской площади (ныне Площадь Революции) через улицы Охотный ряд и расширенную Моховую до площади Дворца перед его главный входом.
			p Декоративное решение проекта основано на ритме вертикальных пилонов, отсылающих к классической ордерной системе. Ритм вертикальных членений, опоясывавших башню по спирали, выступал организующим звеном всей композиции, подчеркивал соразмерность основных объемов и усиливал динамическую вертикаль башни.
			p В целом, проект Бориса Иофана для Всесоюзного открытого конкурса на Дворец Советов дает довольно лаконичное решение, не перегруженное декоративными элементами, построенное на удачном сочетании новых форм и опыта прошлого, динамики и выразительности.


	iframe(src='hamiltonstatic', width='1280', height='600', frameborder='0')
	.content_inner
		.content_inner_block
			p
				b Дворец Советов. Проект Гектора Гамильтона. Первая премия Всесоюзного конкурса 1931 года

			p Проект Дворца Советов под девизом «Простота» архитектора Гектора Гамильтона был удостоен первой премии за «самый выразительный образ». Гамильтон был одним из самых молодых участников соревнования – американскому архитектору английского происхождения, строившему в Италии и США, было всего 28 лет. И хотя на Международном конгрессе современной архитектуры проект Гамильтона был раскритикован за слабую техническую часть и внешний вид, отсылающий к «помпезным церемониям из века королей», жюри конкурса на здание Дворца Советов проигнорировала эту критику.
			p Ансамбль Дворца Гектора Гамильтона представлял собой ясно читаемое композиционное и образное решение: ярусная ступенчатая композиция состояла из двух объемов большого и малого залов, соединенных между собой переходом. Архитектор расположил неравные по величине залы симметрично друг другу и уравновесил их рядом вспомогательных помещений.
			p Организация движения массовых демонстраций не была в должной мере продумана: архитектурно-оформленной площади перед Дворцом Советов не было, и проход людских потоков был возможен только вокруг сооружения. Транспортную схему Гамильтон решил путем ввода линии  трамвая, а также автомобильного и автобусного транспорта, непосредственно под Двором Советов. По продольной оси здания был предусмотрен распределительный коридор с винтовыми лестницами и лифтами, который служил для разгрузки различных групп помещений.
			p Проект Гектора Гамильтона в большей степени, чем проекты советских архитекторов Бориса Иофана и Ивана Жолтовского тяготел к модернизации традиционных форм, основанной на доминировании вертикальных членений. Архитектор Георгий Бархин характеризовал внешнее оформление Дворца Советов Гамильтона как «не лишенное известной импозантности». При этом частый монотонный ритм вертикалей, который являлся главным элементом оформления фасадов, в сочетаниии с общей симметрией построения сделал внешний облик сверхмонументального здания скучным и однообразным. В целом, архитектурно-художественное решение представляло «главный дворец Советского союза» компактным, простым и масштабным.


	iframe(src='lecorbusierstatic', width='1280', height='600', frameborder='0')
	.content_inner
		.content_inner_block
			p
				b Дворец Советов. Проект Ле Корбюзье. По заказу Всесоюзного конкурса 1931 года

			p На открытый Всесоюзный конкурс Дворца Советов было принято 24 зарубежных проекта: 11 из США, 5 из Германии, 3 из Франции, 2 из Голландии и по одному из Швейцарии, Италии и Эстонии. Среди них были архитекторы, специально приглашенные на конкурс – это Пельциг, Мендельсон и Гропиус из Германии, Перре и Ле Корбюзье из Франции, Лэмб и Урбан из США и Бразини из Италии. Заказы эти оплачивались в сумме 2000 долларов США, а работа по ним координировалась торговыми атташе в каждой стране.
			p Поступившие из-за рубежа проекты – это смелые архитектурные решения, разработанные с учетом технических  новшеств  и рассчитанные на возможность их реализации: была тщательно проработана инженерная часть, проведены расчеты по акустике и оптике, предложены варианты решений транспортного обеспечения.
			p Самым известным иностранным проектом Дворца Советов стало предложение из Франции, подготовленное крупнейшим архитектором ХХ века – Ле Корбюзье. Чрезвычайно смелое новаторское решение проекта составила оригинальная организация основных помещений, виртуозный рисунок плана, гигантская парабола большого зала, символизирующая путь солнца и доминирующая в общей композиции.
			p Новизну композиционного замысла определило и вынесение наружу пространственного каркаса сооружения. К мощным несущим конструкциям были подвешены прозрачные объемы залов, освобождая таким образом площадь под потолком. Применение обнаженного конструктивного скелета, превращение инженерной формы в элемент архитектурной композиции сближают этот проект с работами советских архитекторов-авангардистов: Владимира Татлина, Александра Веснина, Ивана Леонидова.
			p Ле Корбюзье удачно решает транспортную проблему. Две параллельные автомобильные артерии по набережной Москвы-реки и по улице Волхонке соединялись двумя гаражами под большим и малым залом. Особое внимание архитектор уделял отоплению, вентиляции, акустики и организации движения внутри комплекса. Однако, признавая оригинальные архитектурные и градостроительные решения проекта Ле Корбюзье, жюри конкурса сочло этот проект слишком индустриальным.


	iframe(src='iofan-finalstatic', width='1280', height='600', frameborder='0')
	.content_inner
		.content_inner_block

			p
				b Дворец Советов. Принятый к осуществлению проект Бориса Иофана, Владимира Щуко и Владимира Гельфрейха. 1933
			p После окончания открытого Всесоюзного конкурса, с марта 1932 года началась завершающая фаза архитектурного соревнования. В ходе проведения двух закрытых этапов и рассмотрения заказных проектов и предложений,  поданных по личной инициативе авторов, жюри конкурса отдало предпочтение проекту Бориса Иофана.
			p Для создания окончательного варианта Дворца Советов к работе над ним были привлечены соавторы – архитекторы Владимир Щуко и Владимир Гельфрейх. Советом Строительства Дворца был утвержден проект с цилиндрической формой ярусов и центрической постановкой скульптуры Ленина. Представленный на этой основе проект Владимира Гельфрейха, Бориса Иофана и Владимира Щуко в 1934 году был принят к исполнению. В конечном варианте высота здания достигала 415 м, высота статуи составила 100 м. Стилистика Дворца Советов была основана на тесном взаимодействии различных видов изобразительного и декоративно-прикладного искусства.
			p Здание Дворца Советов строится на двух объемах: прямоугольном и цилиндрическом. Нижний стилобат, в котором располагались Большой и Малый залы, рядами прямоугольных террас переходит от горизонтальной площади к  цилиндрической части сооружения. Высотная часть декорируется вертикальными членениями и мощными пилонами, увенчанными скульптурными группами. Облицовка здания предполагалась из гранита с введением нержавеющей стали. Сталь по мере сужения цилиндрических уступов вверх постепенно переходит в белый металл, из которого должна была быть сделана скульптура Ленина.
			p Над внутренним убранством главного здания страны работал большой коллектив мастеров: оно должно было быть не менее впечатляющим, чем фасады. В центре интерьера находился Большой зал диаметром 140 м и высотой 97 м – грандиозный амфитеатр на 21 тыс. зрителей. Его перекрытие должно было создавать впечатление «архитектурного неба, совершенно легкого и не давящего». Партер амфитеатра Большого зала мог трансформироваться в арену, сценическую площадку, водный бассейн и даже каток с искусственным льдом. Второй по значению Малый зал представлял собой театр с огромной сценой обычного типа. В разработке интерьеров будущего Дворца Советов принимал участие художник Павел Корин, выполнивший эскизы для живописных панно и мозаик.
			p Спроектировано было действительно гигантское сооружение, призванное стать доминантой в будущем силуэте города. Не соизмеримое по масштабам ни с одной постройкой Москвы, оно требовало изменения градостроительной ситуации. Продумывались транспортные развязки, площади, проспекты. В черте города планировалось выстроить несколько высотных зданий, перекликающихся по стилистике с новой архитектурной доминантой города. В периодической печати помещались специальные схемы с изображением самых крупных и высоких знаменитых сооружений мира: и все их масштабом и размерами превосходил Дворец Советов.
			p Возведение Дворца было начато, но Великая Отечественная война помешала строительству, и часть фундаментов разобрали на материалы для противотанковых заграждений.
			p В послевоенный период конкурс был возобновлен: но теперь здание Дворца планировали возвести на Ленинских (Воробьевых) горах. На месте разрушенного в 1931 году Храма Христа Спасителя в конце 1950-х годов был построен бассейн под открытым небом, работавший круглый год. В начале 1990-х бассейн «Москва» был закрыт, а храм был восстановлен на прежнем месте.
			p Принято считать, что результаты конкурса на здание Дворца Советов изменили стилевую направленность отечественной архитектуры, повернув вектор ее развития от рациональных принципов и передовых технологий Современного движения к монументальным формально-стилизаторским композициям неоклассической линии в архитектуре.
