extends ../layout

block title
	title ЧУДОВ МОНАСТЫРЬ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/unity.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/UnityObject2.js' + version)
	script(type='text/javascript', src='/build/js/unity.js' + version)

block content
	.content_title_block
		.object_title Чудов монастырь
	.content
		#unityPlayer
			.missing
				a(href='http://unity3d.com/webplayer/', title='Unity Web Player. Install now!')
					img(alt='Unity Web Player. Install now!', src='http://webplayer.unity3d.com/installation/getunity.png', width='193', height='63')
			.broken
				span Broken!