extends ../../layout

block title
	title ДОБАВИТЬ ОБЪЕКТ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/add.js')

block content
	- var year = new Date()
	- year = year.getFullYear()
	- var months = ['ЯНВАРЬ', 'ФЕВРАЛЬ', 'МАРТ', 'АПРЕЛЬ', 'МАЙ', 'ИЮНЬ', 'ИЮЛЬ', 'АВГУСТ', 'СЕНТЯБРЬ', 'ОКТЯБРЬ', 'НОЯБРЬ', 'ДЕКАБРЬ']
	.form_block
		a.back_link(href='/auth/objects') < Назад
		.title ДОБАВИТЬ ОБЪЕКТ
		form(action="/auth/objects/add", method="post")
			.form_title Название:
			input.ru(type="text", name="ru[title]",)
			input.en(type="text", name="en[title]", disabled)
			.form_title Описание:
			textarea.ru(name="ru[description]", rows="8",)
			textarea.en(name="en[description]", rows="8", disabled)
			.form_title Интервал начало:
			input.ru(type="text", name="interval[start]",)
			.form_title Интервал конец:
			input.ru(type="text", name="interval[end]",)
			.form_title Стиль:
			select(name='era')
				each era in eras
					option(value=era._id)= era.title.ru
			b= eras[0].ages[0]
			//- .form_title Фото:
			//- input(type="file", name="photo")
			br
			br
			input(type='submit', value='отправить')