extends ../../layout

block title
	title СПИСОК ОБЪЕКТОВ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/lists.js')

block content
	a.back_link(href='/auth') < Назад
	.title СПИСОК ОБЪЕКТОВ
	br
	a.add(href='/auth/objects/add') добавить объект
	br
	br
	.main_menu_block
		each object in objects
			.object
				a.rm_object(href='#', id=object._id)= 'удалить '
				!=' | '
				a(href='/auth/objects/edit/' + object._id)= object.i18n.title.get('ru')
				!=' --> '
				a(href='/auth/objects/' + object._id + '/subjects') единицы хранения