doctype html
html
	block paths
	head
		include header
	body
		- var date = new Date()
		//- include counters
		.header_block
			.header_block_inner
				a.header_logo(href="/") Государственный музей архитектуры имени А. В. Щусева
				.menu_block
					.menu_item.search 
					.menu_item.lang 
					.menu_item.drop 
		.content_title_block
			- if (admin)
				a(href='/auth') ЗВЕЗДОЧЕТ:
				a(href='/auth/ages') Стили
				a(href='/auth/objects') Объекты
				//- a(href='/auth/subjects') Единицы хранения
				a(href='/auth/architects') Архитекторы
				a(href='/auth/categorys') Категории
				a(href='/test/tiles') Тайлы (beta)
				a(href='/test/search') Поиск (beta)
			block content_title
		.content_search_block
			.search_inner
				input.search_field(type='text', placeholder='Найти...')
				.search_result
					.objects_context
						.context_title Объекты
						.context_results
					.architects_context
						.context_title Архитекторы
						.context_results
					.subjects_context
						.context_title Единицы хранения
						.context_results
		.content_block
			block content
		.footer_block
			.footer_block_inner