doctype html
html
	block paths
	head
		include header
	body
		- var date = new Date()
		//- include counters
		.header_block
			.header_block_inner
				a.header_logo(href="/") Государственный музей архитектуры имени А. В. Щусева
				.navigation_block
					.navigation_block_options
						.navigation_block_button
						.navigation_block_button
						.navigation_block_button
						.navigation_block_button
		.content_title_block
			- if (admin)
				a(href='/auth') ЗВЕЗДОЧЕТ:
				a(href='/auth/ages') Стили
				a(href='/auth/objects') Объекты
				//- a(href='/auth/subjects') Единицы хранения
				a(href='/auth/architects') Архитекторы
				a(href='/auth/categorys') Категории
				a(href='/test/tiles') Тайлы (beta)
				a(href='/test/search') Поиск (beta)
			block content_title
		.content_block
			block content
		.footer_block
			.footer_block_inner