doctype html
html
	block paths
	head
		include header
	body
		- var date = new Date()
		//- include counters
		.header_block
			.header_block_inner
				.top_line_block
					.top_menu_block
						a(href='#') Коллекции
						a(href='list') Предметный указатель
						a(href='contacts') О виртуальном музее
					.top_search_block
						input(type='text', placeholder='Поиск...')
						.search_logo
				a.header_logo(href="/")
		.content_title_block
			block content_title
		.content_block
			block content
		.footer_block
			.footer_block_inner