.content_block
	margin-bottom 40px

.object_title
	margin-top 10px

.category_title
	margin: 10px 0 15px;
	font: 34px/32px 'ma_unitwmedium';
	padding: 20px 25px 10px;

.content_block
	//margin-top 10px
	overflow hidden

.category_block
	margin 0 auto 14px
	width 850px

.category_block_text
	display inline

.category_block_text:before
	content '－'

.category_block_title
	font-family ma_unitwmedium
	font-size 18px
	text-decoration none
	&:hover
		color #f00

.category_attached_objects
	margin 20px 25px 20px

.category_object
	float left
	width 230px
	height 190px
	display block
	position relative
	margin-right 20px
	background-size cover
	background-position 50%
	background-repeat no-repeat
	margin-bottom 20px
	&:nth-child(5n)
		margin-right 0

.category_object:hover
	color #f00

.category_object_name
	bottom 0
	width 100%
	background #fff
	position absolute

.category_attached_title
	font-family ma_unitwmedium
	font-size 24px
	line-height 26px
	border-bottom 1px solid #d7d7d7
	margin-bottom 10px
	padding 3px 0

.footer_block
	font 14px/16px 'ma_unitwlight'

.footer_sponsors_block
	border-top 1px solid #d7d7d7
	padding 10px 25px 10px

@media screen and (max-width: 1280px) {
		.category_object, .category_object:nth-child(5n) {
				margin-right: 10px
		}

		.category_object:nth-child(4n) {
				margin-right: 0
		}

}
