.styles_container h2
  position: absolute

.object_block
  width: 92%
  margin: 0 auto 10px

.object_block_image
  width: 100%
  background: #eee;
  height: 153px;

.object_block_image.object_block_div
  background: #eee
  height: 153px

.object_block_title
  font-size: 20px
  line-height: 21px