//-body
//-  background url('/images/design/05a.jpg') 150% 0 no-repeat
body
  transition-timing-function: linear;
  transition-duration: .25s;
  transition-property: margin;

.header_block
  position fixed
  top 0
  background #fff

.content_title_block
  position fixed
  top 45px
  background #fff

.periods
  display block
  margin 0 auto
  width 1280px
  margin 0 auto
  height 40px
  border-bottom 1px solid #999
  text-align center

.period
  display inline-block
  line-height 40px
  vertical-align bottom
  &.active
    .period_title
      font-size:40px;
      position static

.period_title
  margin-right 10px
  cursor pointer
  line-height 40px
  transition-timing-function: linear;
  transition-duration: .25s;
  transition-property: font;
  &:hover
    font-size 30px
    line-height 40px

.data_style_name, .data_style_in_name
  text-align center
  height 30px
  line-height 30px
  float none
  clear both
  width 1280px
  font-weight normal

.data_style_name
  border-top 1px solid #999

.data_style_in_name
  border-top 1px solid #d2d2d2
  font-size 20px
  height 30px
  margin-bottom 10px

.content_block_inner
  width 1280px
  overflow hidden
  margin-top 55px

.styles_container
  width 1296px

.object_block
  display block
  float left
  width 310px
  margin-right 14px
  margin-bottom 30px

.object_block_image
  width 310px
  height 210px
  background #ccc
  background-size cover
  background-position 50%

.object_block_title
  font-size 20px
  padding 6px 0
  height 40px
  line-height 21px



.object_block_date
  border-bottom 1px solid #d2d2d2
  padding-bottom: 9px;
