.header_block
  position fixed

.header_title_control
  position fixed
  top 75px
  background #fff

.content_block
  white-space nowrap
  overflow hidden
  height auto
  position absolute
  top 107px
  bottom 0
  width 100%

.content_block_inner
  margin 0 auto
  position relative
  height 100%
  width 1022px
  overflow hidden

.styles_container
  height 100%
  position relative
  display inline-block
  overflow hidden
  white-space nowrap

.styles_container h2
  position absolute
  white-space normal

.periods_col {
  //width 25%
  width 256px
  float left
  display inline-block
  min-height 100%
  position relative
  overflow hidden
}

.periods_col_objects
  overflow scroll
  position absolute
  top 46px
  bottom 0px
  width 100%
  padding-right 200px

.periods_col_objects_inner

.object_block
  width 92%
  margin 0 auto 10px

.object_block_image
  width 100%
  background #eee
  height 153px

.object_block_image.object_block_div
  background #eee
  height 153px

.object_block_title
  font-size 20px
  line-height 21px
  white-space normal

