
.header_block
  position fixed

.styles_controls
  width 100%
  position relative

.styles_controls_back, .styles_controls_front
  position absolute
  top 0
  z-index 10
  height 29px
  width 12px
  font-size 36px
  line-height 32px
  cursor pointer
  &:hover
    color #f00

.styles_controls_front
  right 0
  text-align right

.header_title_control
  position fixed
  top 75px
  background #fff
  width 100%
  border none
  z-index 20

.header_title_control_inner
  width 1022px
  border-bottom 2px solid #000
  background #fff

.content_block
  white-space nowrap
  overflow hidden
  height auto
  position absolute
  top 107px
  bottom 0
  width 100%
  z-index 10

.content_block_inner
  margin 0 auto
  position relative
  height 100%
  width 1022px
  overflow hidden

.content_block_styles
  height 100%
  white-space nowrap
  transition-timing-function: linear;
  transition-duration: .25s;
  transition-property: margin;

.styles_container
  height 100%
  position relative
  display inline-block
  overflow hidden
  white-space nowrap
  min-width 100%
  &.inner_blocks
    background #fc0

.styles_container h2
  position absolute
  white-space normal
  font-weight normal

.styles_container h3
  font-size 18px
  text-align center
  line-height 19px
  margin-top 7px
  font-weight normal

.periods_col
  //width 25%
  width 256px
  display inline-block
  min-height 100%
  position relative
  overflow hidden


.periods_col_objects
  overflow scroll
  position absolute
  top 0px
  bottom 0px
  width 100%
  padding-right 200px

.periods_col_objects_inner

.object_block
  width 92%
  margin 0 auto 10px

.object_block_image
  width 100%
  background #eee
  height 153px

.object_block_image.object_block_div
  background #eee
  height 153px

.object_block_title
  font-size 20px
  line-height 21px
  white-space normal

.footer
  position fixed
  left 0
  z-index 20
  background #fff
  bottom 0
  height 57px
  width 100%

.periods
  width 1022px
  margin 0 auto
  display block
  overflow hidden

.period
  float left
  width 14.28%
  cursor pointer

.period_title
    text-align center
    font-size 13px
    height 26px
    white-space nowrap
    line-height 32px

.period_line
    height 11px
    border-top 2px solid transparent
    border-bottom 2px solid transparent
    position relative

.period_line_inner
    position absolute
    top 50%
    margin-top -1px
    border-top 2px solid transparent
    width 100%

.period
  &:nth-child(1)
    .period_line_inner
    .period_line:hover
    .period_line.active
      border-color #f00

  &:nth-child(2)
    .period_line_inner
    .period_line:hover
    .period_line.active
      border-color #0f0
  &:nth-child(3)
    .period_line_inner
    .period_line:hover
    .period_line.active
      border-color #00f

  &:nth-child(4)
    .period_line_inner
    .period_line:hover
    .period_line.active
      border-color #ff109a

  &:nth-child(5)
    .period_line_inner
    .period_line:hover
    .period_line.active
      border-color #006889

  &:nth-child(6)
    .period_line_inner
    .period_line:hover
    .period_line.active
      border-color #000

  &:nth-child(7)
    .period_line_inner
    .period_line:hover
    .period_line.active
      border-color #f00

.period_dates
    font-size 13px
    margin-top 2px
    position relative
    height 17px

.period_dates div
    position absolute
    top 0
