body
	//background url('/images/design/trace/iofan-special.jpg') 50% -40px no-repeat
	background-size 1630px
	//height 9000px

.main_image
	img
		margin 70px auto 75px
		display block
		width 320px

h1
	text-align center
	font 60px/70px ma_unitwmedium
	display block
	margin 0 auto 100px
	width 510px

.intro
	width 900px
	height 450px
	background #ccc
	margin 0 auto
	display block
	position relative
	background-size cover
	background-position 50%
	&:after
		content ''
		background #fff
		top 0
		left 0
		bottom 0
		right 0
		display block
		position absolute
		opacity 0.6
	.span
		display block
		position absolute
		top 50%
		left 50%
		line-height 60px
		font-size 60px
		height 60px
		width 60px
		margin-left -43px
		margin-top -43px
		border 3px solid
		border-radius 50%
		padding 16px
		z-index 4
	&:hover
		color #f00
		&:after
			opacity 0.4


.content_inner
	width 850px
	margin 0 auto
	b
		font-family ma_unitwmedium
		font-weight normal
		font-size: 30px;
		line-height: 30px;
	.content_inner_block
		margin-top 30px
		&:last-child
			margin-bottom 100px