body
	//background url('/images/design/trace/iofan-special.jpg') 50% -40px no-repeat
	background-size 1630px
	//height 9000px

.main_image
	img
		margin 70px auto 75px
		display block
		width 320px

h1
	text-align center
	font 60px/70px ma_unitwmedium
	display block
	margin 0 auto
	width 510px

.content_inner
	width 850px
	margin 0 auto
	b
		font-family ma_unitwmedium
	.content_inner_block
		margin-top 100px
		&:last-child
			margin-bottom 100px