div, span, a, ul, li, h1, h2, h3
  margin 0
  padding 0

html, body
  margin 0
  padding 0
  color #333
  font 18px/21px 'ma_unitwlight'

*
  outline none

html, body, .content_block

a
  color #333

.width_block
  width 1280px
  margin 0 auto

.content_block
  margin 10px auto 0

.header_block, .footer_block
  width 100%

.footer_block
  position fixed
  width 100%

.header_block_inner
  position relative
  margin-top 0px
  background #fff

.styles_header_title
  font-size 23px
  text-align center
  line-height 29px

.header_logo
  width: 160px;
  height: 51px;
  display block
  background url('/images/design/logo.png') 0 0 no-repeat
  background-size 100%
  text-decoration none
  margin 4px auto 4px

.header_top_block
  overflow hidden
  margin-top 5px

.menu_main_block
  font-size 18px
  overflow hidden
  display block
  float left
  line-height 16px

.menu_main_block a
  margin-right 10px
  &:hover
    color #f00

.menu_block
  overflow hidden
  display block
  float right

.menu_item
  float left
  margin-left 5px
  font 22px/19px 'menu_icons'
  cursor pointer
  &.lang
    margin-right 5px
  &:hover
    color red

.content_search_block
  position absolute
  background-color white
  overflow hidden
  z-index 100
  width 100%
  display none

.search_inner
  padding-top 2px
  padding-bottom 5px
  position relative
  overflow hidden

.search_title
  font-size 24px
  float left
  margin-top 7px
  cursor pointer
  &:hover
    color red

.search_field
  width 1100px
  font-size 24px
  font-family ma_unitwlight
  border none
  margin 2px
  padding 0

.objects_context
.architects_context
.subjects_context
  display none
  overflow hidden
  float left
  margin-right 10px

.search_result
  overflow hidden

.context_results_block
  display inline

.context_result
  text-decoration none
  margin-right 5px
  &:last-child
    margin-right 0px
    &:after
      content ''
  &:hover
    color red
  &:after
    margin-left 5px
    content '・'
    color black

.context_title
  font-size 18px
  float left
  margin-right 10px
  font-family ma_unitwmedium

.content_title_block
  overflow hidden
  text-align center
  font-size 22px
  line-height 21px
  border-bottom 1px solid #000
  padding 3px 0
