body
	height 100%

body > .content_block
	height 100%

.content_block > .screen_block
	height 100%
	height 50%
	min-height 400px

.header_block
	position absolute
	top 0
	z-index 100000
	width 100%

.header_block_inner
	background transparent

.logo_description, .menu_item
	color #fff

.screen_block
	width 100%
	position relative
	overflow hidden
	background #fff
	min-width 1000px

.title_block
	margin 0 auto

.content_block
	width 100%
	/*position absolute*/
	top 0
	height 100%

.header_logo
	background-position 0 0

.menu_navigate_block a
	color #fff

//-- 1ый Блок --//
.intro_block_title
	position absolute
	top 50%
	width 100%
	z-index 9999
	margin-top -90px

.intro_block_title_inner
	margin 0 auto

.main_title
	border-bottom 1px solid #fff
	color #fff
	font 46px/66px 'ma_unitwlight'
	text-align center

.additional_title
	text-align center
	color #fff
	line-height 41px
	font-size 21px

.intro_block_background
	background url('/images/design/14.jpg') 50% 50% no-repeat scroll
	transition height 0.1s ease
	background-size cover
	height 100%
	position fixed
	height 100%
	width 100%
	z-index -10
	&:after
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background: rgba(0, 0, 0, 0.4);
		content ''
		z-index -20

.intro_block
	background transparent

.styles_block
	width 100%
	position absolute
	top 65px
	left 0
	z-index 1000
	display none

.styles_inner_block
	margin 0 auto
	display table

.style_item
	text-decoration none
	font-size 24px
	font-size 22px
	margin-right 15px
	color #fff
	display table-cell
	&:hover
		color #ee3124

.style_name
	border-bottom 1px solid
	text-align center
	position relative
	padding-bottom 3px

.style_name:after
	content '|'
	display block
	position absolute
	left 100%
	bottom -12px
	font-size 8px

.style_item:last-child .style_name:after
	content '>'
	font-size 14px

.style_readmore
	font-family 'ma_unitwmedium'
	text-align center
	border-top 1px solid #ccc
	margin-top 10px
	font-size 43px
	letter-spacing 4px
	height 30px

.goto_down
	position absolute
	bottom 0px
	width 100%
	height 42px

.goto_down_inner
	margin 0 auto

.goto_down a
	width 140px
	height 42px
	margin 0 auto
	display block
	text-align center
	background #fff
	color #000
	font 30px/44px 'menu_icons'
	text-decoration none
	cursor pointer
	&:hover
		color #EE3124!important

.intro
	display block
	display none
	border-radius 4px
	background #EE3124
	width 300px
	height 50px
	line-height 50px
	font-size 25px
	text-align center
	color #fff
	margin 20px auto 0
	&:hover
		background #FD4032

//-- 2ой Блок --//

.screen_block.periods_block.screen_block_height
	height 620px

.content_block > .screen_block_height
	height auto
	padding-bottom 0px

.screen_block_height
	background-image url('/images/design/trace/actual-01.jpg') 50% -897px no-repeat

.description_inner
	background transparent
	margin 0 auto

.description_block .description_inner
	overflow hidden
	//border-bottom 1px solid #ccc
	padding-bottom 30px

.description_title
	display block
	text-decoration none
	font 34px/32px 'ma_unitwlight'
	margin 20px 0px 0
	padding 10px 25px
	border-bottom 1px solid #d7d7d7

.description_block
	padding 14px 0px 20px

.description_text
	width 60%
	font-size 17px
	line-height 19px
	float left
	p
		margin 0 25px 10px
		padding 0

.description_text2
	width 40%
	float left
	position relative
	min-height 321px

.logo_block
	position absolute
	bottom -10px
	right 25px

.description_text2 img
	width 160px
	margin-top 20px
	margin-bottom 10px
	display block


//-- 3ой Блок --//
.periods_block
	//background url('/images/design/trace/actual-01.jpg') 50% -1800px no-repeat
	min-height 697px!important

.styles_line_outer
	background #fff
	margin 0 0 20px
	padding 10px 0px 20px
	font-size 18px
	line-height 22px
	overflow hidden
	position absolute
	top 73px
	bottom 80px
	left 0px
	right 0px
	height 560px

.styles_line
	height 600px
	overflow-x scroll
	width 1230px
	margin 0 auto

.styles_nav_block.screen_width
	position relative

a.styles_line_nav
	display block
	position absolute
	font 46px/100px 'menu_icons'
	z-index 10000
	width 39px
	background #fff
	height 100px
	text-align center
	color #000
	top 144px
	cursor pointer
	&.prev
		left -14px
	&.next
		right -14px
	&:hover
		color #EE3124

.styles_inner_line
	white-space nowrap

.style_block
	width 300px
	overflow hidden
	display inline-block
	margin-right 10px
	background-size 100%
	position relative
	vertical-align top
	text-decoration none
	&:hover .style_title
		color #EE3124
	&:last-child
		margin-right 0

.style_block:hover .style_readmore
	color #ee3124


.style_image
	height 200px
	background-position 50%
	background-repeat no-repeat
	background-size cover
	background-color #ccc

.style_title
	background #fff
	padding 15px 0 0
	//height 58px

.style_title_inner
	font 27px/24px 'ma_unitwlight'
	padding 5px 10px 0
	white-space normal

.style_title_date
	line-height 34px
	padding 0 10px
	border-bottom: 1px solid #d7d7d7;
	margin-bottom 10px

.style_description
	background #fff

.style_description_inner
	white-space normal
	font-size 16px
	line-height 17px
	padding 0 10px

//-- 4ой Блок --//
.screen_block.special_block
 height auto

.special_block_background
	height 100%
	margin 0 auto

.object_images_block
	margin 0 25px

.special_item_block
	display block
	float left
	margin-top 10px
	width 610px
	background-repeat no-repeat
	background-position center
	margin-right 10px
	margin-bottom 50px
	text-decoration none
	&:nth-child(2n)
		margin-right 0
	&:nth-child(3)
		display none
	&:hover
		.special_title
		.special_readmore
			color #ee3124

.special_image
	width 100%
	height 260px
	background-size cover
	background-repeat no-repeat
	background-position 50%
	margin-bottom 14px

.special_title
	font 27px/24px 'ma_unitwlight'
	padding 5px 10px 10px
	white-space normal
	border-bottom 1px solid #d7d7d7
	margin-bottom 10px

.special_description_inner
	white-space normal
	font-size 16px
	line-height 17px
	padding 0 10px

.special_readmore
	font-family 'ma_unitwmedium'
	text-align center
	border-top 1px solid #ccc
	margin-top 10px
	font-size 43px
	letter-spacing 4px
	height 30px

//--------//

.footer_block
	position static
	font 14px/16px 'ma_unitwlight'

.footer_sponsors_block
	border-top 1px solid #d7d7d7
	padding 10px 25px 10px


@media screen and (max-width:1280px) {
	.special_item_block {
		width: 470px;
	}
	.style_title_inner {
		font-size: 22px;
	}
	.intro_block_background {
		position: absolute;
	}
}