// .content_navigate_block
//   display block

.parallax_block
  width 1280px
  height 500px
  position relative
  margin 10px auto
  overflow hidden

.parallax-layer
  transform-origin 50%
  position absolute

.intro_title
  margin-top 10px
  display block
  text-decoration none
  font 32px/34px 'ma_unitwmedium'
  &:hover
    color red

.intro_description
  margin-top 10px