.project_title
	font-size 22pt
	line-height 24pt
	color #172E5D
	border-bottom 1px solid #b5b4c1
	margin-top 20px
	padding-bottom 5px
	font-weight normal

.project_category
	font-size 10pt
	line-height 12pt
	color #F06E30
	margin-top 5px

.project_image_main
	width 1280px
	height 500px
	overflow hidden;
	position absolute

.project_content_block
	position absolute
	background-color white
	margin-top 500px

.project_description_block
	margin-top 20px
	overflow hidden
	font-size 16px
	line-height 19px

.project_description {
	width: 620px;
	height: 400px;
	float: left;
	margin-right: 40px;
	background-color: #b5b4c1;
}

.project_columns_block {
	width: 620px;
	height: 400px;
	float: left;
	background-color: #65c19d;
}


/*
	Images Second
 */


.project_images_second_block {
	width: 1280px;
	overflow: hidden;
}

.images_second_column {
	width: 400px;
	float: left;
	margin-right: 40px;
}

.images_second_column:last-child {
	margin-right: 0px;
}

.image_second_block {
	width: 400px;
	margin-bottom: 20px;
}

.image_second {
	width: 400px;
}

.image_second_description {
	width: 400px;
	font-size: 10pt;
	line-height: 12pt;
}


/*
	Image Maps
 */


.project_images_maps_block {
	width: 1280px;
	overflow: hidden;
}

.images_maps_column {
	width: 240;
	margin-right: 20px;
	float: left;
}

.images_maps_column:last-child {
	margin-right: 0px;
}

.image_maps_block {
	width: 240px;
	margin-bottom: 20px;
}

.image_maps {
	width: 240px;
}

.image_maps_description {
	width: 240px;
	font-size: 10pt;
	line-height: 12pt;
}