.header_block
	position fixed
	background-color white
	z-index 999

.footer_block
	display none


.content_block
	width 100%
	top 60px
	bottom 0
	position absolute
	overflow-y auto
	-webkit-overflow-scrolling touch

.object_main_block
	width 100%
	height 100%

.object_images_block
	height 100%
	width 100%
	overflow-y hidden
	background-color white
	white-space nowrap

.images_inner
.object_image
	height 100%
	width auto

.object_image
	display inline-block
	margin-right 10px
	height 100%

.object_description_block
	width 100%
	font-size 24px

.description_inner
	width 1280px
	margin 60px auto
	position relative
	line-height 28px

.object_join_objects_block
	width 100%
	height 100%
	position relative

.join_objects_inner
	width 1280px
	margin 0 auto

.join_object_block
	width 240px
	height 220px
	margin-right 20px
	margin-bottom 10px
	float left
	background-color #d5d5d5
	&:nth-child(5n)
		margin-right 0px


.object_navigate_block
	width 1280px
	height 100%
	margin 0 auto
	position absolute
	left 50%
	margin-left -640px

.navigate_menu
	width 240px
	background-color white
	position absolute
	right 0
	bottom 0

.navigate_title_block
	padding 10px
	background-color black
	color white

.object_title
	font-size 24px
	line-height 28px

.navigate_modes_block
	padding 10px

.navigate_meta_block
	padding 10px

.navigate_description_block
	padding 10px
	font-size 16px

.description_item
	display none
	&:first-child
		display block