.header_block
  position fixed
  z-index 1000
  top 0

.header_block_inner
  background transparent

.object_container
	position absolute
	top 0
	bottom 128px
	left 0
	right 0
	overflow hidden;
	display block
	border-bottom 2px solid #f00

.project_image_second
	height 100%
	width 100%
	background-position 50%
	background-repeat no-repeat
	background-size cover
	overflow hidden
	z-index 1
	background-attachment fixed
	display block
	position absolute
	top 0
	z-index -1
	margin-top -100%

.project_image_main
	display table
	position relative
	z-index 0
	margin-top 0


.image_animate
	transition-timing-function ease-out
	transition-duration 2.5s
	transition-property margin

.project_image_main_inner
	vertical-align middle
	display table-cell
	height inherit
	width 100%

.project_title
	display inline-block
	text-align center
	width 100%
	color: #fff
	font-size 3rem
	line-height initial
	text-shadow 0 0 1px #000
	font-family ma_unitwmedium
	font-weight normal

.project_category
	font-size 10pt
	line-height 12pt
	color #F06E30
	margin-top 5px

.project_description_block
	width 1280px
	margin 0 auto
	position relative

.project_description
	width: 620px
	float: left
	position absolute
	top 100px
	right 0
	background rgba(0,0,0,0.4)
	color #fff
	font-size 16px
	line-height 17px
	z-index 10

.object_images_types
	position absolute
	bottom 135px
	left 0
	z-index 20
	color #fff
	width 100%
	text-align center

.object_images_types div
	display inline-block
	white-space nowrap
	&:hover
		text-decoration underline
		cursor pointer
	&:after
		content '|'
		display inline-block
		padding 0 7px

.object_images_types .object_images_museum
	&:after
		content ''

.object_images_types .object_images_3d
	color #f00
	border-radius 50%
	border 1px solid #f00
	padding 8px
	line-height 17px
	&:after
		display none

.project_images_second_block
	position absolute
	bottom 4px
	left 0
	right 0
	height 120px
	overflow auto

.images_second_column
	white-space nowrap
	font-size 0
	line-height 0

.image_second_block
	width 200px
	height 120px
	margin-right 4px
	display inline-block
	background-size cover
	&:hover
		cursor pointer

.image_second_description
	width 200px
	font-size 18px
	line-height 21px