.object_item
	width 1100px
	border 1px solid black
	margin 0 auto
	position relative
	overflow hidden
	margin-bottom 20px

.object_description_block
	width 540px
	border 1px solid black
	float left
	padding 5px


.object_title
	font-size 24px
	line-height 26px
	text-decoration none
	&:hover
		text-decoration underline

.object_architects
	font-weight bold
	margin-bottom 10px
	&:before
		content 'Архитекторы:'
		margin-top 10px
		display block
		font-weight normal

.object_categorys
	margin-bottom 10px
	&:before
		content 'Категории:'
		margin-top 10px
		display block

.category_item
	margin-right 10px
	font-weight bold

.object_graphics_block
	width 540px
	border 1px solid black
	float left
	overflow hidden

.object_images
.object_subjects
.subject_image
.image_img
	width 260px

.image_item
.subject_item
	margin-bottom 20px

.subject_inventory
	font-weight bold

.object_images
	float left
	margin-right 20px
	&:before
		content 'Изображения:'
		display block

.object_subjects
	float left
	&:before
		content 'Единицы хранения:'
		display block