.content_title_block
	width 100%
	max-width: 1280px

.content_block
	margin-bottom 40px
	width 100%
	max-width 1280px

.project_title
	margin 10px 0
	font 34px/32px 'ma_unitwlight'
	padding: 20px 25px 10px;

.project_model
	width 100%
	height 600px
	margin-bottom 30px

.footer_block
	position static
	font 14px/16px 'ma_unitwlight'

.footer_sponsors_block
	border-top 1px solid #d7d7d7
	padding 10px 25px 10px


.project_description 
	margin-bottom 40px
	& br
		content ''
		display block
		height 15px


.broken
.missing
.unsupported
	height 600px
	background-size cover
	background-position 50%
	overflow hidden

.broken_background
	height 600px
	line-height 33px
	text-align center
	background rgba(255,255,255,0.8)
	font-size 30px
	padding 265px 29px 0
	display block
	&:hover
		color #f00