.m_item.menu_special
	background: #000;
	color: #fff !important;

.content_title_block
	width 100%
	max-width: 1280px

.content_block
	margin-bottom 40px
	width 100%
	max-width 1280px

.project_title
	margin 0
	margin-bottom 10px
	font 44px/46px 'ma_unitwmedium'
	padding 20px 0px 0px

.project_model
	width 100%
	height 600px
	margin-bottom 15px

.footer_block
	position static
	font 14px/16px 'ma_unitwlight'

.footer_sponsors_block
	border-top 1px solid #d7d7d7
	padding 10px 25px 10px


.project_description
	//border-top 1px solid #d7d7d7
	font-size 20px
	line-height 25px
	margin 25px auto
	width 850px
	& br
		content ''
		display block
		height 15px


.broken
.missing
.unsupported
	height 600px
	background-size cover
	background-position 50%
	overflow hidden

.unsupported iframe
	width 100%
	height 600px

.broken_background
	height 600px
	line-height 33px
	text-align center
	background rgba(255,255,255,0.8)
	font-size 30px
	padding 265px 29px 0
	display block
	&:hover
		color #f00
