.projects_title
  margin 10px 0

.project_block
  display block
  overflow hidden
  text-decoration none
  margin-bottom 20px
  &:hover .project_title
    color #f00

.project_image
  background-position 50%
  background-size cover
  background-repeat no-repeat
  height 300px
  position relative
  display block

.project_description_block
  padding 10px 0

.project_title
  padding-bottom 5px

.project_title
  display block
  text-decoration none
  font 24px/26px 'ma_unitwmedium'
  padding 0 0 10px
  border-bottom 1px solid #d7d7d7
  margin-bottom 10px