html
body
	height 100%
& .content_title_block
	height 50%
	position relative
	width 100%

.title_block_outer
	position absolute
	top 50%
	border-top 1px solid #ccc
	height 0
	width 100%

.object_title_block
.subject_title_block
	position absolute
	bottom 0
	width 100%
	margin-bottom 0

.content_block
	margin-top -130px!important