html
body
	height 100%
& .content_title_block
	height 25%
	position relative
	width 100%

.header_block
	position absolute

.title_block_outer
	position absolute
	top 100%
	border-top 1px solid #ccc
	height 0
	width 100%
	margin-top -1px

.object_title_block
.subject_title_block
	position absolute
	bottom 0
	width 100%
	margin-bottom 0

.content_block
	margin-top 15px!important