@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1)
  .search_inner
  .content_block
  .header_block_inner
  .navigate_block
  .styles_block
  .style_block
  .age_description
  .style_description
    width 1024px

  .style_block_inner
    width 1044px

.navigate_block
  width 1280px
  margin 10px auto
  background-color white
  z-index 999999
  height 50px

.navigate_styles_block
  width 1272px
  margin 0 auto
  display table

.navigate_style_block
  //float left
  display table-cell
  position relative

.navigate_style_title
  cursor pointer
  //margin-right 15px
  font-size 24px
  text-align center
  margin 0 6px
  border-bottom 1px solid
  position relative
  padding-bottom 3px
  &.not_sub
    color #737373
  &.current
    color red
    border-color #333
  &:hover
    color red
  &:after
    content '•'
    display block
    position absolute
    left 100%
    bottom -13px
    margin-left 2px
    font-size 26px

.navigate_style_block:last-child .navigate_style_title:after
  content '>'
  bottom -11px

.navigate_style_block:first-child .navigate_style_title:before
  content '◦'
  display block
  position absolute
  right 100%
  bottom -12px
  margin-left 2px
  font-size 13px


.navigate_style_progress
  //margin-top 5px
  position absolute
  top 24px
  margin-bottom 3px
  height 1px
  margin-left 3px
  background-color red
  width 0%
  &.on_scroll
    &:after
      display block
      margin-top 0px
      float right
      content '•'
      font-size 26px
      line-height 5px
      color #f00

.navigate_style_ages
  display none
  position absolute
  white-space nowrap
  top 30px

.navigate_age
  //float left
  display inline-block
  cursor pointer
  margin-right 10px
  font-size 18px
  &.current
    color red
  &:hover
    color red

.styles_block
  white-space nowrap
  overflow hidden
  width 1280px
  position absolute
  left 50%
  margin-left -640px
  bottom 25px
  top 115px

.styles_inner, .style_block, .style_block_inner
  display inline-block
  vertical-align top
  font-size 0
  height: 100%

.style_block
  overflow hidden
  width 1280px

.style_block_inner
  overflow auto
  width 1300px
  -webkit-overflow-scrolling touch

.style_inner_height
  overflow hidden

.age_block
  overflow hidden
  min-height 300px  // !!!!!!!!!!!!!!

.age_header
.style_header
  //text-align center
  margin-bottom 10px
  border-bottom 1px solid #333

.age_header
  margin-top 25px

.style_header
  //margin-top 10px

.age_title
.style_title
  /*padding-left 5px
  padding-right 5px*/
  font-size 24px
  background-color white
  display inline-block
  position relative
  font-family 'ma_unitwmedium'
  line-height 24px

.style_title
  display block
  text-decoration none
  font 30px/32px 'ma_unitwmedium'
  //margin 20px 0 0
  padding 0 0 10px

  text-align left

/*.age_line
.style_line
  position relative
  background-color black
  top 12px
  width 100%
  height 1px
*/
.age_description
.style_description
  width 1280px
  margin-bottom 15px
  position relative
  color black
  white-space normal
  font-size 16px
  line-height 18px
  //hyphens auto
  & br
    line-height 28px

.age_description
  margin-bottom 25px

.object_block
  width 240px
  height 220px
  background-size cover
  background-position center
  font-size 18px
  display block
  float left
  background-color #ececec
  text-decoration none
  margin-right 20px
  margin-bottom 20px
  position relative
  &:after
    display block
    position absolute
    top 0
    height 100%
    width 100%
    left 0
    content ''
    background #fff
    opacity 0.2
    transition: opacity 0.1s ease;
  &:nth-child(5n)
    margin-right 0px
  &:hover .object_description
    color red
  &:hover:after
    opacity 0

.object_description
  font-size 16px
  line-height 18px
  position relative
  top 100%

.object_date
  font-size 16px

.object_description_inner
  width 100%
  background-color white
  position absolute
  bottom 0
  z-index 900

.object_title
  padding-top 3px
  overflow hidden
  white-space normal
  // hyphens auto