.navigate_block
  width 1280px
  height 40px
  margin 10px auto
  background-color white
  z-index 999999
  font-size 24px

.navigate_styles_block
  overflow hidden

.navigate_style_block
  float left

.navigate_style_title
  cursor pointer
  margin-right 15px

.navigate_style_progress
  margin-top 3px
  height 2px
  background-color red
  width 0%

.navigate_style_ages
  display none
  position absolute

.navigate_age
  float left
  cursor pointer
  margin-right 10px
  font-size 18px

.styles_block
  white-space nowrap
  overflow hidden
  width 1280px
  position absolute
  left 50%
  margin-left -640px
  bottom 0
  top 110px

.styles_inner, .style_block, .style_block_inner
  display inline-block
  font-size 0
  height: 100%

.style_block
  overflow hidden
  width 1280px

.style_block_inner
  overflow auto
  width 1300px

.style_inner_height
  overflow hidden

.age_block
  overflow hidden
  border-top 1px solid black

.age_title
  text-align center
  padding-bottom 20px
  font-size 18px

.object_block
  width 240px
  font-size 18px
  display block
  float left
  text-decoration none
  margin-right 20px
  margin-bottom 20px
  &:nth-child(5n)
    margin-right 0px

.object_image
  width 100%
  height 160px
  background-size cover
  background-position center