html, body
	height 100%

.header_block
	left 0
	top 0
	position absolute
	z-index 1000

.header_block_inner
	background transparent
	color #fff

.content_title_block
	width 100%
	position absolute
	top 46px
	z-index 100000
	min-width 1000px

.styles_inner_block, .navigate_styles_block {
	width 100%
	max-width 1280px
}

.navigate_block
	width 100%
	margin 10px auto 10px
	z-index 999999
	height 70px

.navigate_styles_block
	margin 0 auto
	display table

.navigate_style_block
	display table-cell

.navigate_style_inner
	position relative

.navigate_style_title
	cursor pointer
	border-bottom 1px solid
	position relative
	padding-bottom 3px
	&.not_sub
		color #737373
	&.current
		color red
		border-color #333
	&:hover
		color red
	&:after
		content '|'
		display block
		position absolute
		left 100%
		bottom -12px
		font-size 8px
		z-index 99999

.navigate_style_block:last-child .navigate_style_title:after
	content '>'
	bottom -12px
	font-size 14px

.navigate_style_progress
	position absolute
	top 24px
	margin-bottom 3px
	height 1px
	margin-left 3px
	background-color red
	width 0%
	&.on_scroll
		&:after
			display block
			margin-top 0px
			float right
			content '•'
			font-size 26px
			line-height 5px
			color #f00

.navigate_style_ages
	display none
	position absolute
	white-space nowrap
	top 40px
	left 0
	width 100%

.navigate_style_ages_inner
	margin 0 auto
	text-align center

.navigate_age
	display inline-block
	cursor pointer
	margin-right 10px
	font-size 18px
	&.current
		color red
	&:hover
		color red

body > .content_block
	margin 0 auto
	position relative
	height 100%

.content_block
	width: 100%;
	max-width: 1280px;

.styles_block
	white-space nowrap
	overflow hidden
	position absolute
	left 0
	bottom 25px
	top 115px
	//top 0
	right 0
	&.screen_width_absolute
		margin-left 0

.styles_inner, .style_block, .style_block_inner
	display inline-block
	vertical-align top
	font-size 0
	height: 100%

.age_date
	font-size 22px
	line-height 20px
	padding-bottom 7px
	margin 0 25px

.style_block_background
	height: 50%
	background-position 50%
	min-height 400px
	position relative
	background-attachment fixed
	display none
	&:after
		content ''
		top 0
		left 0
		width 100%
		height 200px
		display block
		position absolute
		background url("/images/design/gr.png") 0 100% repeat-x
		background-size 1px 290px
		opacity 0.7

.style_block
	overflow hidden

.style_block_inner
	overflow auto
	//width 1300px
	width 105%
	-webkit-overflow-scrolling touch

.style_inner_height
	overflow hidden
	min-height 800px  // !!!!!!!!!!!!!!
	display block

.age_block
	overflow hidden
	min-height 300px  // !!!!!!!!!!!!!!

.age_header
.style_header
	margin-bottom 10px
	border-bottom 1px solid #d7d7d7

.age_header
	margin-top 40px

.age_title
.style_title
	font-size 24px
	display inline-block
	position relative
	font-family 'ma_unitwlight'
	line-height 24px
	margin 0 25px

.style_title
	display block
	text-decoration none
	font 30px/32px 'ma_unitwlight'
	padding 0 0 10px
	text-align left
	margin 5px 25px 0

.age_description
.style_description
	width 1240px
	margin-bottom 55px
	position relative
	color black
	white-space normal
	font-size 17px
	line-height 19px
	margin 0 25px
	& br
		content ''
		display block
		height 15px

.age_description
	margin-bottom 25px

.age_objects
	margin 0 25px

.object_block
	width 294px
	height 240px
	background-size cover
	background-position center
	font-size 18px
	display block
	float left
	background-color #ececec
	text-decoration none
	margin-right 20px
	margin-bottom 20px
	position relative
	&:hover
		//background-size  auto 130%
	&:after
		display block
		position absolute
		top 0
		height 100%
		width 100%
		left 0
		content ''
		background #fff
		opacity 0.1
		transition: opacity 0.1s ease;
	&:nth-child(4n)
		margin-right 0px
	&:hover .object_description
		color #ee3124
	&:hover:after
		opacity 0
	&[href='/objects/546b516bbe5f5200007cb8cd']
		& .object_description_inner
				color #ee3124

.object_description
	font-size 16px
	line-height 18px
	position relative
	top 100%

.object_date
	font-size 16px

.object_description_inner
	width 100%
	background-color white
	position absolute
	bottom 0
	z-index 900

.object_title
	padding-top 3px
	overflow hidden
	white-space normal


.style_date
	font-family 'ma_unitwlight'
	//padding-top 5px
	font-size 22px

//---------------

.age_title.sub_age546a2a28c77affd5f518e52f
.age_title.sub_age546b5f565233a000009a6e07
.age_title.sub_age546b7e1ffd55b68509ebd36b
.age_title.sub_age547504a08bc16e192e97dc4b
	font-size 0
	&:after
		font-size 24px
		background-color #fff
		display inline-block
		position relative;
		font-family 'ma_unitwlight'
		line-height 24px

.age_title.sub_age546a2a28c77affd5f518e52f:after
	content 'Архитектура Москвы периода раннего и строгого классицизма'

.age_title.sub_age546b5f565233a000009a6e07:after
	content 'Архитектура Петербурга периода раннего и строгого классицизма'

.age_title.sub_age546b7e1ffd55b68509ebd36b:after
	content 'Архитектура Петербурга периода ампира'

.age_title.sub_age547504a08bc16e192e97dc4b:after
	content 'Архитектура Москвы периода ампира'


.style_date.date_age546f52adefcff44843391164
.style_date.date_age546f57ca1238740a476aa789
	font-size 0
	&:after
		font-family ma_unitwlight
		font-size 22px
		background-color #fff
		display inline-block
		position relative
		font-family 'ma_unitwlight'
		line-height 32px

.style_date.date_age546f52adefcff44843391164:after
	content 'X–XVII вв.'

.style_date.date_age546f57ca1238740a476aa789:after
	content 'XVII–XVIII вв.'

.menu_item
	color #000

//----------------


@media screen and (max-width:1280px) {
	.styles_block.screen_width_absolute {
			margin-left: -500px;
			left:50%;
		}
	.styles_inner_block, .navigate_styles_block {
			width: 1000px;
		}
		.navigate_style_title {
			font-size: 20px;
		}
		.age_description, .style_description {
			width: 950px;
		}
		.style_block_inner {
			width 1040px;
		}
		.object_block:nth-child(4n) {
				margin-right: 20px;
		}
		.object_block:nth-child(3n) {
				margin-right: 0px;
		}
}