.subject_item
	overflow hidden
	margin-bottom 10px

.subject_image
	width 240px
	height 220px
	margin-right 20px
	background-position center
	background-repeat no-repeat
	background-size cover
	float left

.subject_title
	font-size 22px
	margin-bottom 10px
	text-decoration none
	display block
	&:hover
		color red