.content_title_block
	width 100%
	max-width 1280px

.content_block
	margin 0 auto 40px
	width 100%
	max-width 1230px

.content_block
	margin-bottom 40px

.subject_item
	overflow hidden
	display block
	margin-bottom 10px
	text-decoration none
	width 605px
	margin-right 20px
	max-height 200px
	margin-bottom 30px
	float left
	&:hover
		.subject_title
			color #ee3124
	&:nth-child(2n)
		margin-right 0

.subject_image
	width 240px
	height 220px
	margin-right 20px
	background-position center
	background-repeat no-repeat
	background-size cover
	float left

.subject_title
	font-size 22px
	margin-bottom 10px
	text-decoration none
	display block

.footer_block
	font 14px/16px 'ma_unitwlight'

.footer_sponsors_block
	border-top 1px solid #d7d7d7
	padding 10px 25px 10px


@media screen and (max-width:1280px) {
	.subject_item {
		width: 100%
		margin-right 0
		float none
	}
}