.subject_title_block
	margin 10px 0

.subject_item
	overflow hidden
	display block
	margin-bottom 10px
	text-decoration none
	width 630px
	margin-right 20px
	max-height 200px
	margin-bottom 30px
	float left
	&:hover
		.subject_title
			color #ee3124
	&:nth-child(2n)
		margin-right 0

.subject_image
	width 240px
	height 220px
	margin-right 20px
	background-position center
	background-repeat no-repeat
	background-size cover
	float left

.subject_title
	font-size 22px
	margin-bottom 10px
	text-decoration none
	display block

@media screen and (max-width:1280px) {
	.subject_item {
		width: 100%
		margin-right 0
		float none
	}
}