extends ../layout

block title
	title ЕДИНИЦЫ ХРАНЕНИЯ


block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/subjects.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/subjects.js' + version)

block content_title
	.subject_title_block Единицы хранения

block content
	.subjects_block
	each subject in subjects
		.subject_item
			.subject_image(style='background-image: url(' + subject.image.thumb + ')')
			a.subject_title(href='/subjects/' + subject._id)= subject.i18n.title.get('ru')
			.subject_description_text= subject.i18n.description.get('ru')
