extends ../layout

block title
	title ЕДИНИЦА ХРАНЕНИЯ


block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/subjects.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/subjects.js' + version)

block content_title
	.object_title= subject.i18n.title.get('ru')
block content
	.category_block= subject.i18n.description.get('ru')
	.category_attached_objects