extends ../layout

block title
	title МУАР

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/main.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/columns.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/main.js' + version)
	script(type='text/javascript', src='/build/js/columns.js' + version)

block content_title
	.header_title_control
		.header_title_control_inner
			.styles_controls
					.styles_controls_back &lt;
					.styles_controls_front &gt;
			.content_title Колонки

block content
	.content_block_inner
		.content_block_styles
			each era in eras
				.styles_container(data_style_name=era.era.title.ru)
					each age in era.ages
						.periods_col
							.periods_col_objects
								.periods_col_objects_inner
									h3= age.age.title.ru
									each object in age.objects
										.object_block
											.object_block_image
											.object_block_title=object.title.ru
											.object_block_date=object.interval.start.getUTCFullYear() + ' - ' + object.interval.end.getUTCFullYear()