extends ../layout

block title
	title МУАР

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/main.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/main.js' + version)


block content
	h1 Колонки
	each era in eras
		h2= 'Стиль: ' + era.era.title.ru + ' ( ' + era.era.interval.start.getUTCFullYear() + ' - ' + era.era.interval.end.getUTCFullYear() + ' ) '
		each age in era.ages
			//- - var age_populate = era.era.ages.filter(function(era_age) { return era_age._id.toString() == age.age.toString() })[0]
			h3= 'Подстиль: ' + age.age.title.ru
			b Список объектов:
			br
			each object in age.objects
				i= object.title.ru + ' (  ' + object.interval.start.getUTCFullYear() + ' - ' + object.interval.end.getUTCFullYear() + ' ) '
				br