extends ../layout

block title
	title МУАР


block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/main.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/main.js' + version)


block content_title
	.content_title МУАР

block content
	.main_block
		//-a(href='/columns') Временная шкала
		//-br
		//-each era in eras
			b= era.title.ru
			br
		.periods
			each era in eras
				.period
					.period_title=era.title.ru
					.period_line
						.period_line_inner
					.period_dates
						.date0=era.interval.start.getUTCFullYear()
						.date2=era.interval.end.getUTCFullYear()