extends ../layout

block title
	title МУАР


block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/main.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/main.js' + version)


block content_title
	.content_title МУАР

block content
	.main_block
		.special_block
		.periods
				each era in eras
					.period
						.period_title=era.era.title.ru
						.period_line
							.period_line_inner
						.period_dates
							.date0=era.era.interval.start.getUTCFullYear()
							.date2=era.era.interval.end.getUTCFullYear()
		a(href='/columns') Временная шкала