extends ../layout

block title
	title МУАР


block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/main.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/jquery.parallax.js' + version)
	script(type='text/javascript', src='/build/js/index.js' + version)

block content_title
	.styles_block
		each age, i in ages
			a.style_item(href='/styles/#' + i)=age.i18n.title.get('ru')

block content
	.parallax_block
		img.parallax-layer(src='/images/design/parallax_drops/3.png', alt='', style='width:1486px; height:850px;')
		img.parallax-layer(src='/images/design/parallax_drops/3.png', alt='', style='width:1286px; height:850px;')
		img.parallax-layer(src='/images/design/parallax_drops/4.png', alt='', style='width:1331px; height:850px;')
		img.parallax-layer(src='/images/design/parallax_drops/5.png', alt='', style='width:1446px; height:850px;')
		img.parallax-layer(src='/images/design/parallax_drops/6.png', alt='', style='width:1500px; height:850px;')
	.intro_block
		.intro_inner
			a.intro_title(href='/styles') Виртуальный музей
			.intro_description Виртуальный музей архитектуры – это специальный проект Государственного музея архитектуры им. А.В. Щусева, цельюкоторогостановится знакомство самой широкой аудитории с уникальной коллекцией музея, насчитывающей более миллиона экспонатов.Сайтвиртуального музея строится на историческом принципе: вся история отечественной архитектуры делится на семь разделовпериодов.Каждый раздел открывают тексты, подготовленные научными сотрудниками Музея, и иллюстрируют материалы из различныхфондов:отдела фототеки, графики и трехмерных объектов. При этом каждое изображение подробно аннотировано, а структура сайтапозволяетсортировать архитектурные объекты по нескольким основным принципам: автору, стилю, времени и месту постройки. Такимобразом,каждый пользователь и посетитель сайта сможет составить свою собственную подборку изображений, сформированную по одномуили понескольким параметрам.

	a.main_page_specials(href="/styles_s#cls")
		p.first_p
			span Спецпроект музея
		p
			span Виртуальный тур по исчезнувшим
		p
			span Монастырям Кремля

	.main_virtual_title
			Представленные периоды
	.main_page_styles
		a.style_container.dr_rus(href="/styles_s#cls")
			.style_date
			.style_name Древняя Русь
			.style_descr Культурное влияние Древнерусского государства прослеживается в архитектурных традициях нескольких современных государств, в том числе и России. Большие церкви Киевской Руси, построенные после принятия христианства в 988 году, были первыми примерами монументальной архитектуры в восточно-славянских землях. Архитектурный стиль Киевской Руси утвердился под влиянием Архитектуры Византии. Ранние православные церкви были главным образом сделаны из дерева.


		a.style_container.n_bar(href="/styles_s#cls")
			.style_name Нарышкинское Барокко
			.style_descr Культурное влияние Древнерусского государства прослеживается в архитектурных традициях нескольких современных государств, в том числе и России. Большие церкви Киевской Руси, построенные после принятия христианства в 988 году, были первыми примерами монументальной архитектуры в восточно-славянских землях. Архитектурный стиль Киевской Руси утвердился под влиянием Архитектуры Византии. Ранние православные церкви были главным образом сделаны из дерева.


		a.style_container.bar(href="/styles_s#cls")
			.style_name Барокко
			.style_descr Русское барокко — общее название разновидностей стиля барокко, которые сформировались в Русском государстве и в Российской империи в конце XVII—XVIII веках: Московское барокко (с 1680-х по 1700-е годы, ранее неточно называлось «нарышкинское барокко») — переходный период от узорочья к полноценному барокко с удержанием многих конструктивных элементов древнерусской архитектуры, переработанных под влиянием украинского барокко.


		a.style_container.clsm(href="/styles_s#cls")
			.style_name Классицизм
			.style_descr В 1760-х годах на смену барокко в русской архитектуре постепенно приходит классицизм. Яркими центрами русского классицизма стали Санкт-Петербург и Москва. В Петербурге классицизм сложился как завершенный вариант стиля в 1780-х годах, его мастерами были Иван Егорович Старов и Джакомо Кваренги.


		a.style_container.usd(href="/styles_s#cls")
			.style_name Усадьбы
			.style_descr В состав классической усадьбы обычно входили барский дом, несколько флигелей, конюшня, оранжерея, постройки для прислуги и др. Парк, примыкающий к усадьбе, чаще всего носил ландшафтный характер, часто устраивались пруды, прокладывались аллеи, строились беседки, гроты и т. п.


		a.style_container.mod(href="/styles_s#cls")
			.style_name Модерн
			.style_descr В России одним из наиболее заметных и типичных памятников модерна является Дом компании «Зингер» (сейчас «Дом Книги») на Невском проспекте в Санкт-Петербурге. С одной стороны, здание не связано с окружающим ансамблем, что считается градостроительной ошибкой, с другой стороны, это пример удачной планировки в сложных условиях затесненного участка (1902—1904, арх. П. Ю. Сюзор).


		a.style_container.konstr(href="/styles_s#cls")
			.style_name Конструктивизм
			.style_descr Большое влияние на проектирование конструктивистских общественных зданий оказала деятельность талантливых архитекторов — братьев Леонида, Виктора и Александра Весниных. Они пришли к осознанию лаконичной «пролетарской» эстетики, уже имея солидный опыт в проектировании зданий, в живописи и в оформлении книг.
