extends ../layout

block title
	title МУАР


block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/main.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/jquery.parallax.js' + version)
	script(type='text/javascript', src='/build/js/index.js' + version)

block content_title
	.styles_block
		each age in ages
			a.style_item(href='/styles/#' + age._id)=age.i18n.title.get('ru')

block content
	#main2
		.parralax_slides_outer_block
			.slides_arrows_block
				.slides_prew
					.images_arrow
						| &lt;
				.slides_next
					.images_arrow
						| &gt;
			.parallax_block
				img.parallax-layer(src='/images/design/parallax_drops/3.png', alt='', style='width:1486px; height:850px;')
				img.parallax-layer(src='/images/design/parallax_drops/3.png', alt='', style='width:1286px; height:850px;')
				img.parallax-layer(src='/images/design/parallax_drops/4.png', alt='', style='width:1331px; height:850px;')
				img.parallax-layer(src='/images/design/parallax_drops/5.png', alt='', style='width:1446px; height:850px;')
				img.parallax-layer(src='/images/design/parallax_drops/6.png', alt='', style='width:1500px; height:850px;')
		.content_block_inner.content_block_inner_top
			.intro_block
				.intro_inner
					.intro_title Виртуальный музей
					.intro_description Виртуальный музей архитектуры – это специальный проект Государственного музея архитектуры им. А.В. Щусева, цельюкоторогостановится знакомство самой широкой аудитории с уникальной коллекцией музея, насчитывающей более миллиона экспонатов.Сайтвиртуального музея строится на историческом принципе: вся история отечественной архитектуры делится на семь разделовпериодов.Каждый раздел открывают тексты, подготовленные научными сотрудниками Музея, и иллюстрируют материалы из различныхфондов:отдела фототеки, графики и трехмерных объектов. При этом каждое изображение подробно аннотировано, а структура сайтапозволяетсортировать архитектурные объекты по нескольким основным принципам: автору, стилю, времени и месту постройки. Такимобразом,каждый пользователь и посетитель сайта сможет составить свою собственную подборку изображений, сформированную по одномуили понескольким параметрам.
					a.enter(href='/styles') Войти