extends ../layout

block title
	title АРХИТЕКТОР


block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/architects.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/architects.js' + version)

block content_title
	.object_title= architect.i18n.name.get('ru')
block content
	.category_block= architect.i18n.description.get('ru')
	.category_attached_objects