extends ../layout

block title
	title АРХИТЕКТОРЫ


block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/architects.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/architects.js' + version)

block content
	h2 Архитекторы
	br
	each architect in architects
		a(href='/architects/' + architect._id)= architect.i18n.name.get('ru')
		br
		b= architect.i18n.description.get('ru')
		br
		br