extends ../layout

block title
	title КАТЕГОРИЯ


block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/category.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/category.js' + version)

block content
	h2 Категория
	br
	b= category.i18n.title.get('ru')
	br
	b= category.i18n.description.get('ru')