extends ../layout

block title
	title= __('СЛОВАРЬ АРХИТЕКТУРНЫХ ТЕРМИНОВ')


block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/static.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/categorys.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/categorys.js' + version)

block content_title
	.title_block_outer
		.object_title_block= __('Словарь архитектурных терминов')
block content
	each category in categorys
		.category_block
			a.category_block_title(href='/categorys/' + category._id)= category.i18n.title.get(locale)
			.category_block_text= category.i18n.description.get(locale)
