extends ../layout

block title
	title КАТЕГОРИЯ


block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/categorys.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/category.js' + version)

block content_title
	.object_title= category.i18n.title.get('ru')
block content
	.category_block= category.i18n.description.get('ru')
	.category_attached_objects