extends ../layout

block title
	title= object.title.ru


block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/object.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/object.js' + version)


block content_title
	.object_navigate_block
		.object_navigate.description Описание
		.object_navigate.images Изображения
		.object_navigate.subjects Единицы хранения
		.object_navigate.model 3d


block content
	.object_description_block
		.description_inner
			.description_column= object.i18n.description.get('ru')
			.description_column
	.object_images_navigate
		each image, i in object.images.second
			.object_image_navigate(style='background-image:url(' + image.path + ')')
	.object_images_block
		each image, i in object.images.second
			.object_image(style='background-image:url(' + image.path + ')')
	.object_subjects_block
	.object_3d_block