extends ../../layout

block title
	title СПИСОК ПОДПЕРИОДОВ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/lists.js')

block content
	a.back_link(href='/auth/eras') < Назад
	.title СПИСОК ПОДПЕРИОДОВ
	br
	a.add(href='/auth/ages/' + age._id + '/add/sub') добавить подпериод
	br
	br
	.main_menu_block
		each age in age.sub
			.age
				a.rm_age(href='#', id=age._id)= 'удалить '
				!=' | '
				a(href='/auth/ages/' + age._id + '/edit/sub/' + age._id)= age.i18n.title.get('ru')