extends ../layout

block title
	title СПЕЦПРОЕКТЫ


block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/architects.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/architects.js' + version)

block content_title
	.projects_title Спецпроекты

block content
	.projects_block
		each project in projects
			.project_block
				a.project_title(href='/projects/' + project._id)= project.i18n.title.get('ru')
				.project_description= project.i18n.description.get('ru')
				img.project_image= project.photo