extends ../layout

block title
	title=  project.i18n.title.get('ru').toUpperCase() + ' | СПЕЦПРОЕКТЫ'


block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/project.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/UnityObject2.js' + version)
	script(type='text/javascript', src='/build/js/project.js' + version)

block content_title
	.project_title= project.i18n.title.get('ru')

block content
	.project_model#unityPlayer(path=project.model)
		.missing(style='background-image:url(' + project.photo + ')')
			a.broken_background(href='http://unity3d.com/webplayer/', title='Для правильного воспроизвеления моделей в браузере, необходимо скачать Unity Player') Для правильного воспроизведения моделей в браузере, необходимо установить Unity Player.
		.broken(style='background-image:url(' + project.photo + ')')
			.broken_background Извините, при загрузке  произошла ошибка.
		.unsupported(style='background-image:url(' + project.photo + ')')
			.broken_background К сожалению, мы пока не можем обеспечить корректное воспроизведение 3D на Вашем устройстве. Используйте устройства на базе Windows или MacOS X.
	.project_description: !=  project.i18n.description.get('ru')
	