extends ../layout

block title
	title ПОИСК


//- block content_style


//- block content_scripts


//- block content_title

block content
	form(action="/test/search", method="post", enctype="multipart/form-data")
		input(type='text', name='search', placeholder='поиск...', style='font-size: 26pt')
	br
	br
	b Архитекторы
	br
	br
	if (architects)
		each architect in architects
			div= 'Имя: ' + architect.i18n.name.get('ru')
			div= 'Описание: ' + architect.i18n.description.get('ru')
			br
	br
	br
	b Объекты
	br
	br
	if (objects)
		each object in objects
			div= 'Название: ' + object.i18n.title.get('ru')
			div= 'Описание: ' + object.i18n.description.get('ru')
	br
