extends ../layout

block title
	title ЗАГРУЗКА

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/add.js')

block content
	.form_block
		a.back_link(href='/auth') < Назад
		.title ЗАГРУЗКА
		form(action="/tiles_upload", method="post", enctype="multipart/form-data")
			br
			br
			a(href='/tiles_test', target='_blank') Тест
			br
			br
			.form_title Фото:
			input(type="file", name="image")
			br
			br
			input(type='submit', value='отправить')